* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Homepage-back1 {
  background: url(images/back1.jpg);
  background-repeat: no-repeat;
  height: 94vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.Navbar-logo {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
  margin-left: 105px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
}

.nav ul {
  padding: 0;
  margin: 0px 35px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav .link {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #1D9637;
}

.Homepage-text1,
.About-text1,
.Share-text1
 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100px;
  font-weight: 600;
  padding: 400px 0px;
}

.Homepage-text2,
.About-text2, 
.Share-text2
{
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 25px;
  font-weight: 600;
  margin-top: -400px;
  font-family: 'Source Sans Pro', sans-serif;
}

.About-back2 {
  background: url(images/back2.jpg);
  background-repeat: no-repeat;
  height: 98vh;
}

.Share-back3 {
  background: url(images/back3.jpg);
  background-repeat: no-repeat;
  height: 93vh;
}

.About-text2 p, 
.Share-text2 p
{
  margin: 1px;
}

.footer {
  background: black;
  margin-top: -20px;
  padding: 15px;
  color: #fff;
}

.logo1 {
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
  display: table;
  margin: 0 auto;
  text-decoration: none;
}

.logo2 {
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  display: table;
  margin: 0 auto;
  text-decoration: none;
}

.button-nav:hover,
.signup-button:hover,
.signin-button:hover,
.recipe-post-button:hover {
  background-color: #1D9637 !important;
}

.submit {
  display: flex;
  padding-top: 170px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit-signin {
  display: flex;
  padding-top: 1px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Signup-back,
.Signin-back {
  background: white;
  height: 100vh;
  padding-top: 150px;
}

.Signup-heading,
.Signin-heading {
  margin-top: -35px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #1D9637;
}

.Signup-subtext {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.submit-properties,
.signup-button,
.signin-button {
  width: 350px;
}

.square {
 height: 350px;
 width: 400px;
 border-radius: 12px;
 border: 2px solid;
 border-color: #1D9637;
 background-color: white;
 margin: 10px auto;
}

.square-signin {
  height: 250px;
  width: 400px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid;
  border-color: #1D9637;
  margin: 10px auto;
  
 }

.signinpage-heading {
  text-align: center;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -60px;
}

.signuppage-heading {
  text-align: center;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -50px;
}

.link {
  text-decoration: none;
  color: #1D9637;
}

.Recipe-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 600;
  margin-left: 100px;
}

.recipe-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  background-color: #1D9637; 
}

.recipe-nav ul {
  padding: 0;
  margin: 0px 35px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.Logout-button:hover,
.create-button:hover {
  background-color: white !important;
}

.create-link {
  text-decoration: none;
}

.card-style {
  width: 500px;
  text-align: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-text {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.recipe-back {
  background-color: white;
  height: 100vh;
  padding-top: 150px;
}

.recipe-submit {
  display: flex;
  padding-top: 450px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.recipe-properties {
  width: 450px;
}

.recipe-square {
  height: 700px;
  width: 500px;
  border-radius: 12px;
  border: 2px solid;
  border-color: #1D9637;
  background-color: white;
  margin: 10px auto;
}

.recipe-post-button {
  width: 450px;
}

.recipe-title-head {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-top: -780px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
}

.accordion-style {
  display: inline-block;
  width: 100%;
}

.accordion-info {
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.info-title {
  text-align: center;
  font-weight: 600;
  font-size: 75px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.info-general {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15px;
}

.info-ingredients {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

.info-method {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

                                            /* Building responsive queries for devices with less than 600px width */



@media screen and (max-height: 2000px) {

}

@media screen and (max-height: 1500px) {

}

@media screen and (max-height: 1000px) {

}
                                            

@media screen and (max-height: 900px) {
  .submit {
    padding-top: 250px;
  }
}
