* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Homepage-back1 {
  background: url(images/back1.jpg);
  background-repeat: no-repeat;
  height: 94vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.Navbar-logo {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
  margin-left: 105px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
}

.nav ul {
  padding: 0;
  margin: 0px 35px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav .link {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #1D9637;
}

.Homepage-text1,
.About-text1,
.Share-text1
 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100px;
  font-weight: 600;
  padding: 400px 0px;
}

.Homepage-text2,
.About-text2, 
.Share-text2
{
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 25px;
  font-weight: 600;
  margin-top: -400px;
  font-family: 'Source Sans Pro', sans-serif;
}

.About-back2 {
  background: url(images/back2.jpg);
  background-repeat: no-repeat;
  height: 98vh;
}

.Share-back3 {
  background: url(images/back3.jpg);
  background-repeat: no-repeat;
  height: 93vh;
}

.About-text2 p, 
.Share-text2 p
{
  margin: 1px;
}

.footer {
  background: black;
  margin-top: -20px;
  padding: 15px;
  color: #fff;
}

.logo1 {
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
  display: table;
  margin: 0 auto;
  text-decoration: none;
}

.logo2 {
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  display: table;
  margin: 0 auto;
  text-decoration: none;
}

.button-nav:hover,
.signup-button:hover,
.signin-button:hover,
.recipe-post-button:hover,
.comment-button {
  background-color: #1D9637 !important;
}

.submit {
  display: flex;
  padding-top: 170px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit-signin {
  display: flex;
  padding-top: 1px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Signup-back,
.Signin-back {
  background: white;
  height: 100vh;
  padding-top: 150px;
}

.Signup-heading,
.Signin-heading {
  margin-top: -35px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #1D9637;
}

.Signup-subtext {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.submit-properties,
.signup-button,
.signin-button {
  width: 350px;
}

.square {
 height: 350px;
 width: 400px;
 border-radius: 12px;
 border: 2px solid;
 border-color: #1D9637;
 background-color: white;
 margin: 10px auto;
 box-shadow: 30px 30px 50px 6px #ccc;
}

.square-signin {
  height: 250px;
  width: 400px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid;
  border-color: #1D9637;
  margin: 10px auto;
  box-shadow: 30px 30px 50px 6px #ccc;
 }

.signinpage-heading {
  text-align: center;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -60px;
}

.signuppage-heading {
  text-align: center;
  font-size: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -50px;
}

.link {
  text-decoration: none;
  color: #1D9637;
}

.Recipe-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 600;
  margin-left: 100px;
}

.recipe-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  background-color: #1D9637; 
}

.recipe-nav ul {
  padding: 0;
  margin: 0px 35px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.Logout-button:hover,
.create-button:hover {
  background-color: white !important;
}

.create-link {
  text-decoration: none;
}

.card-style {
  width: 550px;
  text-align: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 10px  6px #ccc;
}

.card-info {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: black;

}

.title-text {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.recipe-back {
  background-color: white;
  height: 100vh;
  padding-top: 150px;
}

.recipe-submit {
  display: flex;
  padding-top: 450px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.recipe-properties {
  width: 450px;
}

.textarea-prop {
  width: 450px;
}

.recipe-square {
  height: 700px;
  width: 500px;
  border-radius: 12px;
  border: 2px solid;
  border-color: #1D9637;
  background-color: white;
  margin: 10px auto;
  box-shadow: 30px 30px 50px 15px #ccc;
}

.recipe-post-button {
  width: 450px;
}

.recipe-title-head {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-top: -780px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
}

.info-title {
  text-align: center;
  font-weight: 600;
  font-size: 75px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.info-general {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15px;
}

.info-ingredients {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

.info-method {
  text-align: center;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

.error {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
}

.error-gif {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1D9637;
}

.card-style-comment {
  width: 950px;
  margin-left: 25%;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  box-shadow: 3px 10px  6px #ccc;
  
}

.comment-heading {
  margin-left: 25%;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.comment-box {
  margin-left: 25%;
  width: 950px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 5px 20px;
  box-shadow: 3px 10px  6px #ccc;
}

.comment {
  position: relative;
}

.comment-button {
  position: absolute;
  right: 950px;
  top: -20px;
}

.recipe-info-card {
  box-shadow: 5px 10px 18px 5px grey;
  width: fit-content;
  border: 5px solid #1D9637;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

hr {
  border: 1px solid white;
}

.userName {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-right: 180px;
  color: white;

}

.comment-user {
  font-weight: 600;
  font-size: 18px;
  color: #1D9637;
  margin-top: 2px;
}

.recipe-user {
  font-weight: 600;
  font-size: 20px;
  color: #1D9637;
  margin-left: -350px;
}

/* Optimising for responsive width */

@media screen and (max-width: 1400px) {

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -800px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 800px;
  }
  
}

@media screen and (max-width: 1300px) {

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -700px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 700px;
  }
  
}

@media screen and (max-width: 1200px) {

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -650px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 650px;
  }
  
}

@media screen and (max-width: 1100px) {

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -600px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 600px;
  }
  
}

@media screen and (max-width: 1000px) {

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -600px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 600px;
  }

  .recipe-nav-menu {
    flex-direction: column;
    text-align: center;
  }

  .userName {
    margin-left: 180px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: 5px;
    top: -10px;
  }


  
}

@media screen and (max-width: 900px) {
  .Navbar-logo {
    margin-left: 25px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .nav-menu {
    flex-direction: column;
    text-align: center;
  }

  .Homepage-text1,
  .About-text1,
  .Share-text1 {
    font-size: 80px;
  }

  .Homepage-text2,
  .About-text2, 
  .Share-text2 {
    font-weight: 500;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -600px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 600px;
  }

  .userName {
    margin-left: 180px;
    font-size: 25px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: 5px;
    top: -10px;
  }

}

@media screen and (max-width: 800px) {
  .Homepage-text1,
  .About-text1,
  .Share-text1 {
    font-size: 60px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -500px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 500px;
  }

  .userName {
    margin-left: 180px;
    font-size: 20px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -10px;
    top: -10px;
  }
}

@media screen and (max-width: 700px) {
  .Homepage-text1,
  .About-text1,
  .Share-text1 {
    font-size: 50px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -400px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 400px;
  }

  .userName {
    margin-left: 100px;
    font-size: 20px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -40px;
    top: -10px;
  }

}

@media screen and (max-width: 600px) {
  .Homepage-text1,
  .About-text1,
  .Share-text1 {
    font-size: 40px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -350px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 350px;
  }

  .userName {
    margin-left: 100px;
    font-size: 25px;
  }

  .Recipe-heading {
    font-size: 25px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -45px;
    top: -10px;
  }

}

@media screen and (max-width: 500px) {
  .Homepage-text1,
  .About-text1,
  .Share-text1 {
    font-size: 30px;
  }

  .recipe-square {
    width: 450px;

  }

  .recipe-properties,
  .textarea-prop,
  .recipe-post-button {
    width: 400px;
  }

  .recipe-title-head {
    font-size: 30px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -250px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 250px;
  }

  .userName {
    margin-left: 10px;
    font-size: 25px;
  }

  .card-style {
    width: 450px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -85px;
    top: -10px;
  }

}

@media screen and (max-width: 400px) {
  .logo1 {
    font-size: 20px;
  }

  .logo2 {
    text-align: center;
    font-size: 15px;
  }

  .square,
  .square-signin {
    width: 350px;

  }

  .submit-properties,
  .signup-button,
  .signin-button {
    width: 320px;
  }

  .recipe-square {
    width: 350px;
  }

  .recipe-properties,
  .recipe-post-button,
  .textarea-prop {
    width: 320px;
  }

  .recipe-title-head {
    font-size: 25px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: -200px;
    top: -20px;
  }

  .comment-box,
  .card-style-comment {
    width: 200px;
  }

  .userName {
    margin-left: 100px;
    font-size: 20px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -50px;
    top: -10px;
  }

  .Recipe-heading {
    margin-left: 10px;
  }

  .card-style {
    width: 290px;
  }

}

@media screen  and (max-width: 350px) {
  .square,
  .square-signin {
    width: 300px;

  }

  .submit-properties,
  .signup-button,
  .signin-button {
    width: 280px;
  }

  .recipe-square {
    width: 320px;
  }

  .recipe-properties,
  .recipe-post-button,
  .textarea-prop {
    width: 295px;
  }

  .recipe-title-head {
    font-size: 20px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: 90px;
    top: -40px;
  }

  .comment-box,
  .card-style-comment {
    width: 200px;
  }
  
}

@media screen and (max-width: 300px) {
  .logo1 {
    font-size: 15px;
  }

  .logo2 {
    text-align: center;
    font-size: 10px;
  }

  .square,
  .square-signin {
    width: 280px;

  }

  .submit-properties,
  .signup-button,
  .signin-button {
    width: 260px;
  }

  .recipe-square {
    width: 260px;
  }

  .recipe-properties,
  .recipe-post-button,
  .textarea-prop {
    width: 220px;
  }

  .recipe-title-head {
    font-size: 25px;
  }

  .comment {
    position: relative;
  }

  .comment-button {
    position: relative;
    left: 75px;
    top: -40px;
  }

  .comment-box,
  .card-style-comment {
    width: 200px;
  }

  .userName {
    margin-left: -5px;
    font-size: 20px;
  }

  .create-button, 
  .Logout-button {
    position: relative;
    left: -100px;
    top: -10px;
  }

  .Recipe-heading {
    margin-left: 10px;
  }

  .card-style {
    width: 290px;
  }

}


/* Optimising for responsive height */
@media screen and (max-height: 1400px) {
  .submit {
    margin-top: -140px
  }

  .Homepage-back1 {
    height: 65vh;
  }

  .About-back2 {
    height: 70vh;
  }

  .Share-back3 {
    height: 60vh;
  }

  .submit-signin {
    margin-top: -140px;
  }

  .footer {
    margin-top: -80px;
    padding: 90px;
  }

  .recipe-submit {
    padding-top: 200px;
  }

}

@media screen and (max-height: 1300px) {
  .submit {
    padding-top: 240px;
  }

  .submit-signin {
    margin-top: -110px;
  }

  .Homepage-back1 {
    height: 70vh;
  }

  .About-back2 {
    height: 75vh;
  }

  .Share-back3 {
    height: 70vh;
  }

  .footer {
    margin-top: -80px;
    padding: 90px;
  }

  .recipe-submit {
    padding-top: 250px;
  }
  
}

@media screen and (max-height: 1200px) {
  .submit {
    padding-top: 310px;
  }

  .submit-signin {
    margin-top: -85px;
  }

  .Homepage-back1 {
    height: 75vh;
  }

  .About-back2 {
    height: 80vh;
  }

  .Share-back3 {
    height: 75vh;
  }

  .footer {
    margin-top: -80px;
    padding: 90px;
  }

  .recipe-submit {
    padding-top: 300px;
  }
  
}

@media screen and (max-height: 1100px) {
  .submit {
    padding-top: 360px;
  }

  .submit-signin {
    margin-top: -50px;
  }

  .Homepage-back1 {
    height: 80vh;
  }

  .About-back2 {
    height: 90vh;
  }

  .Share-back3 {
    height: 80vh;
  }

  .footer {
    margin-top: -80px;
    padding: 90px;
  }

  .recipe-submit {
    padding-top: 350px;
  }
  
}

@media screen and (max-height: 1000px) {
  .submit {
    padding-top: 420px;
  }

  .submit-signin {
    margin-top: -20px;
  }

  .Homepage-back1 {
    height: 90vh;
  }

  .About-back2 {
    height: 100vh;
  }

  .Share-back3 {
    height: 90vh;
  }

  .footer {
    margin-top: -80px;
    padding: 90px;
  }

  .recipe-submit {
    padding-top: 415px;
  }

}
                                            
@media screen and (max-height: 900px) {
  .submit {
    padding-top: 450px;
  }

  .submit-signin {
    padding-top: 50px;
  }

  .Homepage-back1 {
    height: 100vh;
  }

  .About-back2 {
    height: 110vh;
  }

  .Share-back3 {
    height: 100vh;
  }

  .footer {
    margin-top: -60px;
    padding: 120px;
  }

  .recipe-submit {
    padding-top: 480px;
  }
}

@media screen and (max-height: 800px) {
  .submit {
    padding-top: 530px;
  }

  .submit-signin {
    padding-top: 110px;
  }

  .Homepage-back1 {
    height: 110vh;
  }

  .About-back2 {
    height: 125vh;
  }

  .Share-back3 {
    height: 115vh;
  }

  .footer {
    margin-top: -50px;
    padding: 110px;
  }

  .recipe-submit {
    padding-top: 550px;
  }
}

@media screen and (max-height: 700px) {
  .submit {
    padding-top: 560px;
  }

  .submit-signin {
    padding-top: 170px;
  }

  .Homepage-back1 {
    height: 120vh;
  }

  .About-back2 {
    height: 140vh;
  }

  .Share-back3 {
    height: 130vh;
  }

  .footer {
    margin-top: -40px;
    padding: 80px;
  }

  .recipe-submit {
    padding-top: 620px;
  }
}

@media screen and (max-height: 600px) {
  .submit {
    padding-top: 650px;
  }

  .submit-signin {
    padding-top: 240px;
  }

  .Homepage-back1 {
    height: 150vh;
  }

  .About-back2 {
    height: 165vh;
  }

  .Share-back3 {
    height: 150vh;
  }

  .footer {
    margin-top: -30px;
    padding: 70px;
  }

  .recipe-submit {
    padding-top: 675px;
  }

}

@media screen and (max-height: 500px) {
  .submit {
    padding-top: 700px;
  }

  .submit-signin {
    padding-top: 300px;
  }

  .Homepage-back1 {
    height: 180vh;
  }

  .About-back2 {
    height: 200vh;
  }

  .Share-back3 {
    height: 180vh;
  }

  .footer {
    margin-top: -30px;
    padding: 55px;
  }

  .recipe-submit {
    padding-top: 720px;
  }
}

@media screen and (max-height: 450px) {
  .submit {
    padding-top: 730px;
  }

  .submit-signin {
    padding-top: 330px;
  }

  .Homepage-back1 {
    height: 205vh;
  }

  .About-back2 {
    height: 225vh;
  }

  .Share-back3 {
    height: 195vh;
  }

  .footer {
    margin-top: -5px;
    padding: 50px;
  }

  .recipe-submit {
    padding-top: 760px;
  }
}

@media screen and (max-height: 400px) {
  .submit {
    padding-top: 775px;
  }

  .submit-signin {
    padding-top: 350px;
  }

  .Homepage-back1 {
    height: 230vh;
  }

  .About-back2 {
    height: 250vh;
  }

  .Share-back3 {
    height: 230vh;
  }

  .footer {
    margin-top: -50px;
    padding: 35px;
  }

  .recipe-submit {
    padding-top: 780px;
  }
}

@media screen and (max-height: 350px) {
  .submit {
    padding-top: 800px;
  }

  .submit-signin {
    padding-top: 380px;
  }

  .Homepage-back1 {
    height: 260vh;
  }

  .About-back2 {
    height: 290vh;
  }

  .Share-back3 {
    height: 260vh;
  }

  .footer {
    margin-top: -40px;
    padding: 65px;
  }

  .recipe-submit {
    padding-top: 800px;
  }
}

@media screen and (max-height: 300px) {
  .submit {
    padding-top: 850px;
  }

  .submit-signin {
    padding-top: 410px;
  }

  .Homepage-back1 {
    height: 305vh;
  }

  .About-back2 {
    height: 335vh;
  }

  .Share-back3 {
    height: 305vh;
  }

  .footer {
    margin-top: -45px;
  }

  .recipe-submit {
    padding-top: 850px;
  }

}
